nextflow.enable.dsl=2

profiles {
    local {
        executor = 'local'
        process.executor = 'local'
        docker.enabled = false
    }
    hpc {
        executor = 'slurm'  // Placeholder para HPC, ajusta según tu cluster (ej. SLURM)
        process.executor = 'slurm'
        process.queue = 'general'  // Ejemplo, ajusta
        docker.enabled = true  // O conda, según necesidades
    }
}

params {
    data_dir = './data'
    results_dir = './results'
}
